@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inter;
}

.btn{
    background-color: #FF5959;
    color: white;
    padding: 16px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}


/* hero section */

.hero{
    background-repeat: no-repeat;
    background-size: cover;
    height: 670px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(0deg,
    rgb(9, 9, 9) 3.482%,rgba(16, 16, 16, 0) 101.632%), url(../images/donation0.jpg);
}

.hero-content{
    text-align: center;
    color: white;
}

.hero-content h1{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-content p{
    font-size: 18px;
    line-height: 28px;
    opacity: 70%;
    margin-bottom: 30px;
}

/* main section-donate-section */

.donate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    margin-bottom: 130px;
}

.donate >hr{
    width: 100%;
    color: rgba(218, 218, 218, 1);
    background-color: rgba(218, 218, 218, 1);
    height: 1px;
    border: none;
}

.title{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

.description{
    text-align: center;
    font-size: 18px;
    color: rgba(112, 112, 112, 1);
    margin-bottom: 50px;
}

.amounts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 22px;
    margin-bottom: 50px;
}

.tk-btn{
    padding: 30px 15px;
    color: rgba(112, 112, 112, 1);
    background-color: #FAFAFA;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.tk-btn:hover{
    background-color: rgba(255, 238, 238, 1);
    border: 1px solid rgba(255, 89, 89, 1);
    color: rgba(255, 89, 89, 1);
    transition: ease-in-out 0.2s;
}


.Other-Amount{
    font-size: 18px;
    line-height: 28px;
    color: rgba(179, 179, 179, 1);
    margin-bottom: 9.5px;
}

.donate-btn{
    margin-top: 30px;
}

/* donate-plan section style */

.donate-plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 130px;
}

.plan-title{
    text-align: center;
    margin-bottom: 50px;
}

.plan-title h3{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

.plan-title p{
    font-size: 18px;
    color: rgba(112, 112, 112, 1);
}

.plans{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    gap: 24px;
}

.plan{
    padding: 64px 24px;
}

.plan h4{
    margin-top: 30px;
    font-size: 24px;
    font-weight: 600;
}

.plan p{
    color: rgba(112, 112, 112, 1);
    margin-top: 16px;
}

.plan-first{
    background-color: rgba(79, 157, 166, 0.1);
}

.plan-second{
    background-color: rgba(255, 89, 89, 0.1);
}

.plan-third{
    background-color: rgba(255, 244, 214, 1);
}


/* Contribute-section style */

.Contribute-section{
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-bottom: 130px;
}

.Contribute-content{
    display: flex;
    align-items: center;
    gap: 94px;
    
}

.Contribute-content >img{
    height: 477px;
    width: 456px;
}

.Contribute-about h2{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

.Contribute-about p{
    font-size: 18px;
    color: rgba(112, 112, 112, 1);
    margin-bottom: 20px;
    line-height: 28px;
}

.Contribute-about button{
    margin-top: 10px;
}

/* updates section */

.updates{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email-container{
    height: 200px;
    width: 809px;
    background-color: rgba(255, 244, 214, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.email{
    display: flex;
}

#email-input{
    width: 275px;
    border: none;
    padding: 14px 17px;
    background-color: rgba(217, 217, 217, 1);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.email-btn{
    border: none;
    width: 157px;
    background-color: rgba(255, 89, 89, 1);
    color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}